/* src/styles/globals.css */

.loader {
  border-top-color: #3498db; /* Blue color for spinner */
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  animation: spin 1s linear infinite;
  margin-bottom: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
